<launch>
    <arg name="add_board" value="$(find pouco2000_ros)/launch/_add_board.launch"/>
    <!-- define const argument interface -->
    <arg name="board01_port" value="/dev/ttyUSB0"/>
    <arg name="board02_port" value="/dev/ttyUSB1"/>
    <!-- ns_debug namespace avoid conflict with the real controller -->
    <group ns="ns_release">
        <!-- load parameter from param folder -->
        <rosparam file="$(find pouco2000_ros)/param/default.yaml"/>

        <!-- add new board -->
        <include file="$(arg add_board)">
                <arg name="board_port" value="$(arg board01_port)"/>
        </include>

        <include file="$(arg add_board)">
                <arg name="board_port" value="$(arg board02_port)"/>
        </include>

        <!-- real controller -->
        <node pkg="pouco2000_ros" type="controller_node" name="controller_node">
            <!-- <param name="rate" value="10"/> -->
        </node>

    </group>
</launch>